## Import the drive for dataset

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Import Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

## Loading and Wrangling the Data

In [3]:
df= pd.read_csv("/content/drive/MyDrive/energydata_complete.csv")

In [4]:
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [7]:
df.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

## Data Cleaning

In [8]:
df.isnull().sum().sum()

0

In [9]:
df.drop(columns=['date', 'lights'], inplace=True)

In [10]:
df.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

## Data Preprocessing

In [11]:
scalar= MinMaxScaler()

In [12]:
data= scalar.fit_transform(df)
normalised_df= pd.DataFrame(data, columns=df.columns)

In [13]:
normalised_df.head()

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

In [23]:
X=normalised_df.drop(['Appliances'], axis=1)
y=normalised_df['Appliances']

In [24]:
X

             T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
0      0.327350  0.566187  0.225345  ...   0.538462  0.265449  0.265449
1      0.327350  0.541326  0.225345  ...   0.533937  0.372083  0.372083
2      0.327350  0.530502  0.225345  ...   0.529412  0.572848  0.572848
3      0.327350  0.524080  0.225345  ...   0.524887  0.908261  0.908261
4      0.327350  0.531419  0.225345  ...   0.520362  0.201611  0.201611
...         ...       ...       ...  ...        ...       ...       ...
19730  0.926786  0.537657  0.711655  ...   0.901961  0.861981  0.861981
19731  0.919747  0.536006  0.701769  ...   0.900452  0.985726  0.985726
19732  0.919747  0.538666  0.692651  ...   0.898944  0.583979  0.583979
19733  0.919747  0.549491  0.677054  ...   0.897436  0.126371  0.126371
19734  0.919747  0.538758  0.666171  ...   0.895928  0.682391  0.682391

[19735 rows x 26 columns]

In [26]:
y

0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523
Name: Appliances, Length: 19735, dtype: float64

## Train Test Split

In [31]:
X_train,X_test,y_train, y_test= train_test_split(X, y, test_size=0.3,random_state=42)

In [32]:
# Training set of the T2 and T6 columns 
train_x = X_train[['T2']]
train_y = X_train[['T6']]

# Testing set of the T2 and T6 column 
test_x = X_test[['T2']]
test_y = X_test[['T6']]

In [33]:
model = LinearRegression()
model.fit(train_x, train_y)

p = model.predict(test_x)

## Question 12:
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [30]:
#Compute the r2_score on test set
R2_score = round(r2_score(test_y, p), 2)
R2_score

0.66

## Question 13:
Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set.
### Answer the following questions:
What is the Mean Absolute Error (in two decimal places)?

In [34]:
##Linear Regression
lr=LinearRegression()
lr.fit(X_train, y_train)
y_pred=lr.predict(X_test)


accuracy_matrix=pd.DataFrame(data= [round(mean_absolute_error(y_test, y_pred),2),
                        round(mean_squared_error(y_test, y_pred),2),
                       round(np.sum(np.square(y_test- y_pred)),2), 
                       round(r2_score(y_test, y_pred),2),
                       round(np.sqrt(mean_squared_error(y_test, y_pred)),3)], 
                 index= ["Mean Absolute Error",
                        "Mean Square Error",
                         "Residual Error(RSS)",
                         "R2 Score (CoD)", "Root mean Square"],
                 columns= ['Linear Regression'])

## Question 14:
What is the Residual Sum of Squares (in two decimal places)?

## Question 15:
What is the Root Mean Squared Error (in three decimal places)?

## Question 16:
What is the Coefficient of Determination (in two decimal places)?

In [35]:
accuracy_matrix

                     Linear Regression
Mean Absolute Error              0.050
Mean Square Error                0.010
Residual Error(RSS)             45.350
R2 Score (CoD)                   0.150
Root mean Square                 0.088

In [40]:
##weights

def get_weights(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [41]:
linear_model_weights= get_weights(lr, X_train, "Linear_Model_Weight" )

## Question 17:
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [42]:
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [43]:
## Ridge Regression
ridge2=Ridge(alpha=0.4)
ridge2.fit(X_train, y_train)

Ridge(alpha=0.4)

In [44]:
print(round(np.sqrt(mean_squared_error(y_test, ridge2.predict(X_test))), 3))

0.088

## Question 18:
Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?
- No

In [45]:
## Lasso
lasso=Lasso(alpha=0.001)
lasso.fit(X_train, y_train)

Lasso(alpha=0.001)

In [46]:
lasso_weights_df= get_weights(lasso, X_train, "Lasso Weight")

## Question 19:
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [53]:
lasso_weights_df[lasso_weights_df['Lasso Weight']!=0]

     Features  Lasso Weight
0      RH_out     -0.049557
1        RH_8     -0.000110
24  Windspeed      0.002912
25       RH_1      0.017880

In [54]:
lasso=Lasso(alpha=0.001)
lasso.fit(X_train, y_train)
y_pred=lasso.predict(X_test)


accuracy_matrix=pd.DataFrame(data= [round(mean_absolute_error(y_test, y_pred),2),
                        round(mean_squared_error(y_test, y_pred),2),
                       round(np.sum(np.square(y_test- y_pred)),2), 
                       round(r2_score(y_test, y_pred),2),
                       round(np.sqrt(mean_squared_error(y_test, y_pred)),3)], 
                 index= ["Mean Absolute Error",
                        "Mean Square Error",
                         "Residual Error(RSS)",
                         "R2 Score (CoD)", "Root mean Square"],
                 columns= ['Linear Regression'])

## Question 20:
What is the new RMSE with the lasso regression?

In [55]:
accuracy_matrix

                     Linear Regression
Mean Absolute Error              0.060
Mean Square Error                0.010
Residual Error(RSS)             51.850
R2 Score (CoD)                   0.030
Root mean Square                 0.094